<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=45.236.129.230:1521/xe;PASSWORD=ferne;PERSIST SECURITY INFO=True;USER ID=FERNE"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
</configuration>